<a href="sms:+14843740633" class="hello-button">Say Hi!👋</a>
<footer>
  <div style="display:flex">
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}">
      <i data-feather="{{ $key.icon }}"></i>
    </a>
    {{- end -}}
    
  </div>
  <div class="footer-info">
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} {{ end }}
  </div>
</footer>

{{- if (isset .Site.Params "social") -}}
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
{{- end -}}
